*{
    margin: 0;
    padding: 0;
}


.box-1{
        display: flex;
        justify-content: space-around;
        border: 2px solid red;
        flex-wrap: wrap;
    }
    .Container{
        border: 2px solid green;
        text-align: center;
       
    }
    @media(min-width:1200px) {
        .box-1{
            display: flex;
            justify-content: space-around;
            border: 2px solid red;
    
        }
        .Container{
            border: 2px solid green;
        }
    
    }
    @media(min-width:700px) {
        .box-1{
            display: flex;
            justify-content: space-around;
            border: 2px solid red;
    
        }
        .Container{
            border: 2px solid green;
        }
    
    }
    @media(max-width:800px) {
        .box-1{
            display: flex;
            justify-content: space-around;
            border: 2px solid red;
            flex-direction: column;
    
        }
        .Container img{
            width: 100%;

    
        }
        .Container{
            border: 2px solid green;
            width: 100%;
        }
    
    }
    @media(max-width:370px) {
        .box-1{
            display: flex;
          width: 450px;
            border: 2px solid red;
            flex-direction: column;
            
        }
        
        .Container{
            border: 2px solid green;
          
            
           
        }
    
    }


